body {
    box-sizing: border-box;
    // background-image: linear-gradient(to right, #7ed56f, #28b485);
}

.grid_layout {
    display: grid;

    grid-template-rows: 15vh 10vh 70vh 5vh;
    // grid-template-columns:  minmax(6rem, 1fr) [center-start]  [center-end] minmax(6rem, 1fr) ;
    grid-template-columns: [full-start] repeat(14, [col-start] 1fr [col-end]) [full-end]
}